
<% @reviews.each do |review| %>
  <%# レビュー未評価の場合 %>
  <% unless ReviewOnReview.exists?(review_id: review.id) %>
    <li class='list'>            
      <%= link_to "#{@test_product_info.tester.nickname}さんの評価", new_test_product_info_review_on_review_path(@test_product_info.id), method: :get %>        
    </li> 
  <% end %>
<% end %>