* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100%;
  padding: 2% 15%;
  display: flex;
  flex-direction: column;
  background-color: rgb(15, 15, 15);
}

.search-bar-contents {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.furima-icon {
  width: 10vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 10px;
}

.search-form>.input-box {
  width: 100vw;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #ce3c48;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #ffffff;
}

.brand-list {
  text-decoration: none;
  color: #ffffff;
}



.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
  justify-content:space-around;
}

.tester_account {
  color: #ffffff;
  margin: 0 2vw 0 0;
}

.company_account {
  color: #ffffff;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #5fb426;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #5fb426;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #ffffff;
}

.sign-up {
  text-decoration: none;
  color: #ffffff;
}