.review_text {
  font-size: 14px;
  white-space: pre-wrap;
  margin-bottom: 10px;
}

.review_on_rebiew_bk-btn {
  background: #000000;
  border: 1px solid #000000;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 14px;
  margin: 4vh 0 4vh 0;
}