<%= render "shared/second-header"%>


<div class="review-main">
<%= form_with model: @test_product_info, url: product_test_product_infos_path, method: :post, class: 'test_request', local: true do |f| %>
    <%= f.submit "テスト申請する", class: "red-btn"  %>
<% end %>
</div>