.product-img-content {
  position: relative;
}

.pd-img {
  width: 33vh;
  height: 33vh;
}

.title-contents {
  width: 100%;
  height: 100%;
  background-image: image-url('tasting.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10% 15%;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}


.item-contents {
  background-color: rgb(254, 254, 254);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #a03cce;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.test-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: rgb(17, 16, 16);
  transform: skewY(-10deg);
}

.test-out>span {
  color: #FFF;
  font-size: 100%;
  font: bold;
}